@(output: String,syntaxtype: String,notHome: Int)


@main("Welcome to Play heres a new message") {

	@if(notHome == 1){
	<h1>Map Output From: @syntaxtype</h1>
	<pre>
    @output
    </pre>
	} else {
		<h1>Doll Delivery Challenge</h1>
		<div class="col-lg-4">
		<img class="img-thumbnail" src="https://camo.githubusercontent.com/a95581e610c790a0b9197d4fed86b4e4438ae6ba/68747470733a2f2f7261772e6769746875622e636f6d2f706f73746e6174692f646f6c6c2d64656c69766572792f6d61737465722f6e65696768626f72686f6f642d6d61702e706e67" />
		</div>
		<div class="col-lg-8">
		<div>
		<h2>Initial Details:</h2>
		<ul class="dl-horizontal">
		<dt>Languages/Tools Used:</dt>
		<dd>Scala(of course), Play Framework, HTML, CSS, Typesafe, and a few others.</dd>
		<dt>Initial Goals:</dt>
		<dd>
			<ul class="list-unstyled">
				<li>Create a means for client to test map files</li>
				<li>Store and manage them dynamically(almost)</li>
				<li>And test files on the server</li>
			</ul>
		</dd>
		</ul>
		<h2>More about what is here:</h2>
		<p>I have set up a way to run a Java based server that is running Play Framework with Scala. On this site I set up means to test three files which use Scala based backend to check which route on the map would be the shortest. In learning Scala I utilized Typesafe because it allowed me the best teaching opportunities with a few tutorials. I also heavily followed the <a href="http://twitter.github.io/scala_school/index.html" target="_blank">Twitter Scala lessons</a>. Each of the links above represent the demo data that does calculate the shortest route. 
		</p>
		<h3>Some definite improvements with version 2</h3>
		<ul class="list-unstyled">
				<li>Adding the database driven aspect</li>
				<li>Allowing for more types of syntaxs/file formats</li>
				<li>Adding to the display by listing out what each of the files actually say so that users could get a better visual if needed</li>
				<li>And Alot more but so far Scala is brand new so could only do so much with it so far.</li>
		</ul>
		</ul>
		</div>
		</div>
	}
}
